{% extends "base.html" %}
{% load static %}

{% block title %}
{{identified_post.title}}
{% endblock title %}

{% block  css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock  %}

{% block  content %}
    <section id="summary">
        <h2>{{identified_post.title}}</h2>
        <article>
            <img src="{{identified_post.image.url}}" alt={{identified_post.title}}/>
            <address><a href="mailto:{{identified_post.author.email_address}}?subject=Subject&body=Body">By {{identified_post.author}}</a></address>
            <div>
                {% for tag in tags %}
                <span>{{tag}}</span>
                {% endfor %}
            </div>
            <div>
                Last updated on {{identified_post.date|date:"d M Y"}}
            </div>
        </article>
    </section>

    <main>
       {{identified_post.content|linebreaks}}

       <ul>
        {% for comment in comments %}
            <li>{{comment.comment_text|linebreaks}} {{comment.user_name}}</li>
        {% endfor %}
       </ul>

       <form action="{% url "posts_detail_page" identified_post.slug%}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>{{field.label}}</p>
            <p>{{field}}</p>
            <p>{{field.errors}}</p>
        {% endfor %}
        <button>Save comment</button>
       </form>
    </main>
{% endblock  %}
