{% extends "base.html" %}
{% load static %}

{% block title %}
{{identified_post.title}}
{% endblock title %}

{% block  css_files %}
    <link rel="stylesheet" href="blog/post-details.css">
{% endblock  %}

{% block  content %}
    <section id="summary">
        <h2>{{identified_post.title}}</h2>
        <article>
            <img src="{% static "/blog/images/"|add:identified_post.img %}" alt={{identified_post.title}}/>
            <address>By {{identified_post.author}}</address>
            <div>
                Last updated on {{identified_post.date|date:"d M Y"}}
            </div>
        </article>
    </section>

    <main>
       {{identified_post.content|linebreaks}}
    </main>
{% endblock  %}
